<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/static/main.css" />
    <title>DasBlog</title>
  </head>

  <body>
    <a href="/hw3" class="main-title">
      DasBlog
    </a>
    <div id="content">
      <div class="post">
	    <div class="post-heading">
          <a class="post-title">
            {{title}}
          </a>

          <div class="post-date">
            {{time}}
          </div>
        </div>

        <div class="post-content">
          {{content}}
        </div>
      </div>
      <br/><br/>
    </div>
  </body>

</html>