<!DOCTYPE html>

<html>
  <head>
	<link type="text/css" rel="stylesheet" href="/static/main.css" />
    <title>DasBlog</title>
  </head>
  
  <body>
    <a href="/hw3" class="main-title">
      DasBlog
    </a>
	<h2>New Post</h2>
	<form method="post">
      <label>
        <div>subject</div> <input type="text" name="subject" value={{title}}>
      </label>
	  <label>
        <div>blog</div> <textarea name="content">{{blog}}</textarea>
      </label>
	  <div class = "error">{{error}}</div>
      <input type="submit">
    </form>
  </body>
</html>